// Змінні
$primary-color: #007bff;
$secondary-color: #6c757d;
$font-family: Arial, sans-serif;

// Міксин
@mixin button-styles {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

// Стилі для елементів
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: $primary-color;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

// Вкладення та використання міксину
.button-primary {
  @include button-styles;
  background-color: $primary-color;
  color: white;
}

.button-secondary {
  @include button-styles;
  background-color: $secondary-color;
  color: white;
}

// Наприклад стилізації для медіа запитів
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}