body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #333;
}

header, nav * {
    text-decoration: none;
    color: #007BFF;
}

header > h1 {
    text-align: center;
}


video {

    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 640px;
    height: 480px;
}





