

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCompendium {
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #7A5DFA;
    border-radius: 50px !important;
    color: white;
}